.footer
    .footer__logo
        img(src='/img/oncf-logo-1.png', alt="Logo Oncf")
    ul.footer__nav
        li: a(href='#') About us
        li: a(href='#') Careers
        li: a(href='#') Contact
    p.footer__copyright &copy; by Ayoub EL JOURARI & Najah EL GARH. All rights reserved.